*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body{
    overflow-y: scroll;
}
/*Permite el scroll en el eje Y y quito la barra de scroll de la vista.*/
::-webkit-scrollbar{
    display: none;
}

.isInactive{
    /*Si seteo opacity a 0 desaparezco la vista y con pointer-events en none deshabilito todos los items clickeables como inputs botones y demas */
    display: none;
    opacity: 0;
    pointer-events: none;
}

nav{    
    display: flex;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

nav img{
    height: 80px;
}

nav ul{margin-right: 10px;}

nav li{
    float: left;
}

nav li a{
    display: flex;
    align-items: center;
    color: whitesmoke;
    height: 60px;
    /*padding: top left bottom right*/
    padding: 0px 15px 0px 15px; 
    font-weight: 500;
}

nav li a:hover{
    background-color: rgb(44, 44, 44);
    border: 3px solid whitesmoke;
    border-radius: 15px;
}

.categorias{
    display: flex;
    overflow-x: scroll;
    margin-top: 100px;
    z-index: -999;
    width: 100%;
    
}

.categorias li{
    height: auto;
    width: auto;
}

.categorias li a{
    display: flex;
    height: 50px;
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
    align-items: center; /*Al tener display flex, alinea el texto dentro de cada Li de la lista*/
    white-space: nowrap; /*No corta el texto, haciendo que la categoria entre en linea recta*/
    color: black;
    font-weight: 500; /*Le doy mas peso a la letra, haciendola mas gruesa*/
    border: 3px solid whitesmoke;
    border-radius: 10px;
}

.categorias li a:hover{
    color: whitesmoke;
    background-color: rgb(3, 3, 126);
    border-color: red;
}

.container{
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 20px; /*Distancia entre cada filas y columnas*/
    height: 100vh;
}

.container .container-main{
    display: grid;
    grid-column: 1/3;
    margin: 10px 0px 0px 1rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 80px repeat(3,1fr);
    gap: 20px;
    /*Fijarme como hacer linea del borde mas cortita*/
    border-right: 1px solid black;
}

.container .container-main h2{
    text-align: center;
    grid-column: 1/3;
}

.container .container-main .card .texto{
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px 0px 0px 16px;
    font-weight: 500;
}

.container .container-main .card{
    /*Asi puedo ajustar la imagen de fondo al tamano del div.
    Podria usar background-position: center; para centrar la imagen pero la foto del mondongo a la espanola no queda bien centrada.*/
    background-size: cover;
    border-radius: 20px;
    /*El primero es para la sombra del bottom y el otro para el efecto blur*/
    box-shadow: 0px 3px 3px  black;
    margin-right: 16px;
}

.container .container-main .card h4{
    background-color: beige;
    width: fit-content;
}

.container .container-main .card p{
    background-color: beige;
    width: fit-content;
}

.container .container-aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    /*justify-content: center; Si elimino el comentario se posiciona justo en el medio del div*/
}

.container .container-aside #nombrePDia{
    font-family: 'Dancing Script',cursive; /*Fuente para usar la integrada elegida en la pagina google fonts*/
    font-size: 75px;
    text-align: center;
}

.container .container-aside #descripcionPDia{
    font-size: 36px;
    text-align: center;
    margin: 0px 20px 0px 20px;
}

button{
    margin: 10px 30px;
    width: 100px;
    border-radius: 5px;
}

.editInfo{
    position: fixed;
    top: 0;
    margin-top: 100px;
    height: 100vh;
    width: 100%;
    transition: 0.3s ease;
}

.editInfo .inputDiv{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.editInfo h4{
    font-family: 'Dancing Script',cursive;
    font-size: 40px;
}

.editInfo #descripcionPlatoDia{
    width: 90%;   
}

/*Al ser la linea que separa el plato del dia de las categorias en la version para moviles, en la version para pc no quiero que se visualice.*/
#lineaMoviles{
    display: none;
}

@media screen and (max-width:843px){
    body{
        overflow-y: scroll;
    }
    /*Permite el scroll en el eje Y y quito la barra de scroll de la vista.*/
    ::-webkit-scrollbar{
        display: none;
    }
    
    nav ul{
        font-size: 10px;
    }

    .categorias{
        overflow-x: scroll;
        margin-top: 100px;
        z-index: -999;
    }

    .categorias li{
        height: auto;
        width: auto;
    }

    .categorias li a{
        display: flex;
        height: 50px;
        padding: 0px 10px 0px 10px;
        margin: 0px 10px 0px 10px;
        align-items: center; /*Al tener display flex, alinea el texto dentro de cada Li de la lista*/
        white-space: nowrap; /*No corta el texto, haciendo que la categoria entre en linea recta*/
        color: black;
        font-weight: 500; /*Le doy mas peso a la letra, haciendola mas gruesa*/
        border: 3px solid whitesmoke;
        border-radius: 10px;
    }

    .categorias li a:hover{
        color: whitesmoke;
        background-color: rgb(3, 3, 126);
        border-color: red;
    }

    .container{
        display: flex;
        height: 100%;
        flex-direction: column-reverse;
        width: 100%;
        z-index: -999;
        margin-top: 16px;
        /*border-top: 3px solid black;*/
        /*z-index para que no superponga la navbar, position relative para */
    }

    .container .container-main{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .container .container-main .card{
        height: 200px;
        display: flex;
        justify-content: center;
        text-align: center ;
    }

    .container .container-aside{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
    }

    #lineaMoviles{
        display: inline;
        height: 2px;
        width: 80%;
        margin-left: 10%;
        /*width al 80% y margin left a la mitad del espacio restante en el div para que quede centrado*/
        background-color: black;
    }
    
    /*Lo dejo porque me parece interesante como lo resolvi, luego lo borrare.

    .container{
        /*Creo dos filas en la grilla para poder posicionar el plato del dia(container-aside) por encima de los platos referentes (container-main).
        Si quisiera hacer el div del plato del dia mas chico lo establezcon px y luego el otro con fr.
        grid-template-rows: repeat(2,1fr);
        overflow-y: none;
    }


    .container .container-aside{
        display: flex;
        justify-content: center;
        grid-column:1/4;
        grid-row: 1/2;
        text-align: center;
    }

    .container .container-main{
        Primer fila de 40px para el titulo 'Nuestros platos referentes' y 6 filas que ocupen una fraccion del espacio restante para cada una de las seis cartas.
        grid-template-rows: 40px repeat(6,1fr);
        grid-template-columns: repeat(1,1fr);
        grid-column: 1/4;
        gap: 20px;
        border: 0px;
        /*Redundante ya que container aside se especifica de fila 1 a 2
        sobreentendiendo que esta se posicionara debajo en la segunda fila de 2 a 3.
        grid-row: 2/3;
    }*/

    
}